/vendor/
/var/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore
/etc/export/*
!/etc/export/.gitignore

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache
/behat.yaml
/phpunit.xml
