{%
    set viewOptions = {
        failed: { color: 'bg-red-lt' },
        processing: { color: 'bg-yellow-lt' },
        success: { color: 'bg-green-lt' },
    }
%}

{% set status = data ?: 'unknown' %}
{% set color = viewOptions[status]['color'] ?: 'bg-gray-lt' %}

<span class="badge {{ color }}">
    {{ status }}
</span>
