name: Build

on:
    push: ~
    pull_request: ~
    release:
        types: [created]
    workflow_dispatch: ~

jobs:
    tests:
        runs-on: ubuntu-latest

        name: "PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}"

        strategy:
            fail-fast: false
            matrix:
                php: ["8.3"]
                symfony: ["^6.4", "^7.3"]

        env:
            APP_ENV: test

        steps:
            -
                uses: actions/checkout@v4

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    extensions: intl
                    tools: symfony
                    coverage: none

            -
                name: Get Composer cache directory
                id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            -
                name: Cache Composer
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json **/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-php-${{ matrix.php }}-composer-

            -
                name: Restrict Symfony version
                if: matrix.symfony != ''
                run: |
                    composer global config --no-plugins allow-plugins.symfony/flex true
                    composer global require --no-progress --no-scripts --no-plugins "symfony/flex:^2.4"
                    composer config --no-plugins allow-plugins.symfony/thanks true
                    composer config extra.symfony.require "${{ matrix.symfony }}"

            -
                name: Install PHP dependencies
                run: composer install --no-interaction

            -
                name: Run ECS
                run: vendor/bin/ecs check

            -
                name: Validate composer.json
                run: composer validate --ansi --strict

            -
                name: Run PHPStan
                run: vendor/bin/phpstan analyse

#            -
#                name: Run PHPUnit
#                run: vendor/bin/phpunit --colors=always
